* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  color: antiquewhite;
}
main {
  max-width: 100%;
}

.movie{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }
  @font-face {
    font-family: 'AVENGEANCE HEROIC AVENGER BI';
    src: url(image/AVENGEANCE\ HEROIC\ AVENGER\ BI.ttf);
  }
h1 {
  margin: 20px;
  font-family: 'AVENGEANCE HEROIC AVENGER BI';
  font-size: 2.5rem;
}

@font-face {
  font-family: 'heroesassemble3d';
  src: url(image/heroesassemble3d.ttf);
}
h2{
  font-family: 'heroesassemble3d';
  font-size: 2.5rem;
}
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  z-index: 99;
}
#scroll_to_top img {
  width: 35px;
}
ul {
    list-style: none;
}
.navbar {
    color: #FFF;
    background-color: #000 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    
}
.navbar__links {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 0;
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 0;
    background-color: #000;
    transition: all .5s ease-in-out;
}
.show-nav .navbar__links { 
     width:100vw; 
}
.navbar__link > a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    transition: all .4s ease-in-out;
}
.navbar__link {
    transform: translateX(101%);
    padding:0 5px;
    
}
.show-nav .navbar__link {
    transform: translateX(0);
}
.navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
}
.burger {
    display:block;
    position:relative;
    padding:0;
    width: 45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:35px;
    height:4px;  
    border-radius:3px;
    background-color: #FFF; 
    transition: all .5s ease-in-out;   
  }
  .show-nav .bar {
      width: 0;
      background: transparent;
  }
  .bar::before, .bar::after {
    content:"";
    width:35px;
    height:4px;
    position:absolute; 
    left:0;  
    background-color: #FFF; 
    border-radius:3px;   
    transition: all .5s ease-in-out; 
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
      }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
  .show-nav .first {
      transition: all 1s ease-out;
  }
  .show-nav .second {
    transition: all 1.1s ease-out;
}
  .show-nav .third {
    transition: all 1.2s ease-out;
}
  .show-nav .four {
    transition: all 1.3s ease-out;
}
.logo {
    height: 60px;
    width: 100px;
    margin: -20px;
}
.phone {
     height: 60px;
     width: 60px;
}
.ima {
 width: 89px;
 height: 235px;
 margin-top: 10px;
 text-align: center;
 clip-path: ellipse(75% 50%);
 transition: transform .4s;
}
.ima:hover{
  cursor: pointer;
  transform: scale(1.08);
}
.mage {
  display: none;
  border-radius: 35px;
}
p {
  text-align: center;
  margin: 15px;
  font-family: sans-serif;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    display: block;
    width: 90vw;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  footer {
    width: 100%;
    background-color: #000000b0;
    color: white;
    border-top: 1px solid black;
  }

.liste-media{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
  }

 .footer-service{
    display: flex;
    align-items:center;
    margin-left: 15px;
    flex-wrap: wrap;
  
 }
  .icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    transition-duration: 1s;
    transition-property: transform;
  }
  .icon:hover{
    cursor: pointer;
    transform: rotate(360deg);
  }
  
.liste-media a {
    text-decoration: none;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}
.liste-media p{
    margin-left: 13px;
    color: white;
    margin-top: 5px;
    font-size: 13px;
    margin: 7px;
    align-items: center;   
}

.reveal{
  opacity: 0;
  transform: translateX(-30px);
}
.reveal-visible{
  opacity: 1;
  transform: translateX(0);
  transition: 2s;
  
}

@media (min-width:768px){
    .burger {
        display: none;
    }
    .navbar__link > a::after {
        display:block;
        content:"";
        width:0;
        height:1px;
        background-color: #FFF;
        transition:width .4s;       
}
    .navbar__link:hover > a::after {
        width:100%;
}
    .navbar__link {
        padding:0 5px;
        display: flex;
        flex-direction: row;
        transform: none;
}
    .navbar__links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
        position: initial;
}
    .phone {
       margin-right: 80vh;
    }
    .ima {
      display:none;
    }
    .mage {
      display: inherit;
      height: 95vh;
      width: 40vw;
      margin-top: 15px;
    }
  p {
    margin-left: 200px;
    margin-right: 200px;
  }

    }

    @media (min-width:1024px) {
      p {
        margin-left: 250px;
        margin-right: 250px;
      }
    }

    @media (max-width:768px) {
      .liste-media p{ 
        display: none;
      }
      .icon {
        margin-left:0;
        margin-bottom: 5px;
      }
    }
